.board { 
    border:1px solid black; 
    display:flex; 
    flex-wrap:wrap; 
    height:276px; 
    width:330px; 
    background:blue;
    margin: auto; 
} 
.board div { 
    height:40px; 
    width:40px; 
    margin:3px;
    border-radius:20px 
}
.square{ 
    background:white; 
} 

.player-one { 
    background:red;
}
.player-two { 
    background:yellow; 
}
.restart{ 
    background: red; 
    width: 200px; 
    height: 200px; 
    position: fixed; 
    top: 100px; 
    left: 100px; 
    display: none; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}

.currentPlayer{
    font-weight: 700;
    text-align: center;
    text-shadow: 1em blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 86c41e797827ec668d164aed8ae890b137d0331f
